@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: none;
}

/* container style */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f3fc;
}

.card {
  width: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 8px;
  box-shadow: 14px 20px 96px rgba(98, 172, 237, 0.1);
}

.card-header {
  padding: 15px 20px;
  border-bottom: 1px solid #f6f6f6;
}
.card-header > h4 {
  font-size: 18px;
  font-weight: 500;
  color: #121926;
}

.label {
  font-size: 14px;
  color: #343434;
  margin-bottom: 0.3rem;
}

.card-body {
  padding: 0 18px 20px 18px;
}

input {
  width: 335px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #e9f3fc;
  cursor: pointer;
}

.btn {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  padding: 12px 20px;
  border: none;
  color: #092945;
  background-color: #bcdbf7;
  cursor: pointer;
  margin-top: 10px;
  transition: all ease 0.4s;
}

.btn:hover {
  color: #ffffff;
  background-color: #0f4473;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-message {
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  margin: 6px 0;
}

.success-message {
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  color: #00c853;
}

.error-message {
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  color: #ff0000;
}
